body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    background-color: indigo;
}

header {
    background: #35424a;
    color: #ffffff;
    padding: 0px 0;
    text-align: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10000;
    display: auto;
    justify-content: space-between;
    align-items: center;
}

h1 {
    margin: 0;
    font-size: 2.5em;
}

h1 a {
    color: #ffffff;
    text-decoration: none;
}

h1 a:hover {
    text-decoration: none;
}

section {
    padding: 20px;
    margin: 20px;
    background: #ffffff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

footer {
    text-align: center;
    padding: 10px 0;
    background: #35424a;
    color: #ffffff;
    position: relative;
    bottom: 0;
    width: 100%;
}

#content {
    max-width: 600px;
    width: 100%;
    margin-top: 100px; /* Adjust for fixed header */
}

#resume-link {
    background-color: white;
    border-radius: 12px;
    padding: 10px 20px;
    text-decoration: none;
    color: black;
    border: 1px solid black;
    display: inline-block;
    margin-right: 20px;
}

#resume-link:hover {
    background-color: #f0f0f0;
}

.topnav {
    overflow: visible;
    background-color: #333;
    position: relative;
}

.topnav #myLinks {
    display: none;
}

.topnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
}

.topnav a.icon {
    background: black;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.active {
    background-color: #04AA6D;
    color: white;
}